<html>
<title>
APPLICATION 
</title>
<body>
<form>
<p style="font-size:25px"><b>Name:</b><input type="text" style="margin-left:160px;border-color:red;height:25px;width:200px;background-color:pink" placeholder="WRITE IN CAPITAL" maxlength="100"></p>
<p style="font-size:25px"><b>Father's Name:</b><input type="text" style="margin-left:65px;border-color:red;height:25px;width:200px;background-color:pink" placeholder="WRITE IN CAPITAL" maxlength="100"></p>
<p style="font-size:25px"><b>Mother's Name:</b><input type="text" style="margin-left:55px;border-color:red;height:25px;width:200px;background-color:pink" placeholder="WRITE IN CAPITAL" maxlength="100"></p>
<p style="font-size:25px"><b>Date of Birth:</b><input type="date" name="dob" value="dob" style="margin-left:80px;border-color:red;height:25px;width:200px;background-color:pink">
<b>Month:</b><input type="month" name="month" value="month" style="border-color:red;height:25px;width:200px;background-color:pink">
<b>Time:</b><input type="time" name="time" value="time" style="border-color:red;height:25px;width:200px;background-color:pink"></p>
<p style="font-size:25px">Country:
<select style="margin-left:135px;border-color:red;height:25px;width:200px;background-color:pink" value="COUNTRY">
<optgroup label="Bangladesh">
<option>Mymensingh</option>
<option>Dhaka</option>
<option>Tangail</option>
<option>Rajshahi</option>
</optgroup>
<optgroup label="India">
<option>Kalkata</option>
<option>Dehli</option>
<option>Mumbai</option>
<option>Pune</option>
</optgroup>
<option>Canada</option>
<option>China</option>

</select>
</p>

<p style="font-size:25px"><b>Gender:</b><input type="radio" style="margin-left:128px" name="gender" value="male">Male
<input type="radio" name="gender" value="female">Female<input type="radio" name="gender" value="others">Others</p>
<p style="font-size:25px"><b>Student:</b><input type="checkbox" style="margin-left:128px" name="BSc" value="BSc">BSc
<input type="checkbox" name="MSc" value="MSc">MSc<input type="checkbox" name="others" value="others">Others</p>
<p style="font-size:25px"><b>Choose your color:</b><input type="color" name="clr" value="clr" style="margin-left:45px;border-color:red;height:25px;width:60px;"></p>
<p style="font-size:25px"><b>Choose your range:</b>0%<input type="range" name="range" value="range" style="border-color:red;height:25px;width:200px;background-color:pink">100%</p>

<p style="font-size:25px"><b>Describe yourself:</b></p><p><textarea style="margin-left:30px;border-color:red;height:200px;width:500px;background-color:pink;" 
placeholder="WRITE ABOUT YOURSELF" maxlength="300" ></textarea></p>

<p style="font-size:25px"><b>Email:</b><input type="email" placeholder="write your email" style="margin-left:160px;border-color:red;height:25px;width:200px;background-color:pink"></p>
<p style="font-size:25px"><b>Upload your picture:</b><input type="file" placeholder="write your email" value="photo" style="margin-left:0px;border-color:red;height:25px;width:200px;background-color:pink"></p>
<input type="submit" value="submit" style="margin-left:160px;border-color:red;height:25px;width:110px;background-color:pink;border-radius:50%">
<input type="submit" value="Cancel" style="margin-left:160px;border-color:red;height:25px;width:110px;background-color:pink;border-radius:25px 50px">
<input type="submit" value="Delete" style="margin-left:160px;border-color:red;height:25px;width:110px;background-color:pink;">
<input type="reset" value="Reset" style="margin-left:160px;border-color:red;height:90px;width:90px;background-color:pink;border-radius:50%">
</form>
</body>
</html>
