<html>
<body>
<p>
the curriculum. From an educational standpoint, however, these small ICs do
offer a way to study simple digital circuits, and the wiring of circuits using
breadboards is a valuable pedagogic exercise. They help to solidify concepts
such as binary inputs and outputs, physical device operation, and practical
limitations, using a very simple platform. Consequently, we have chosen to
continue to introduce the conceptual descriptions of digital circuits and to
offer examples using conventional standard logic parts. For instructors who
continue to teach the fundamentals using SSI and MSI circuits, this edition
retains those qualities that have made the text so widely accepted in the
past. Many hardware design tools even provide an easy-to-use design entry
technique that will employ the functionality of conventional standard parts
with the flexibility of programmable logic devices. A digital design can be
described using a schematic drawing with pre-created building blocks that
are equivalent to conventional standard parts, which can be compiled and
then programmed directly into a target PLD with the added capability of
easily simulating the design within the same development tool.
We believe that graduates will actually apply the concepts presented in
this book using higher-level description methods and more complex programmable devices.The major shift in the field is a greater need to understand the
description methods, rather than focusing on the architecture of an actual device. Software tools have evolved to the point where there is little need for concern about the inner workings of the hardware but much more need to focus
on what goes in, what comes out, and how the designer can describe what the
device is supposed to do. We also believe that graduates will be involved with
projects using state-of-the-art design tools and hardware solutions.
<figure>
<img src="IMG_1502.JPG" alt="traditional" width="400" height="300" style="margin-left:500px">
<figcaption style="margin-left:500px">fig 1:traditional</figcaption>
</figure>
This book offers a strategic advantage for teaching the vital new topic
of hardware description languages to beginners in the digital field.VHDL is
undisputedly an industry standard language at this time, but it is also very
complex and has a steep learning curve. Beginning students are often discouraged by the rigorous requirements of various data types, and they struggle with understanding edge-triggered events in VHDL. Fortunately, Altera
offers AHDL, a less demanding language that uses the same basic concepts
as VHDL but is much easier for beginners to master. So, instructors can opt
to use AHDL to teach introductory students or VHDL for more advanced
classes. This edition offers more than 40 AHDL examples, more than 40
VHDL examples, and many examples of simulation testing. All of these design
files are available on the enclosed CD-ROM.
Altera’s latest software development system is Quartus II. The MAX

PLUS II software that has been used for many years is still popular in industry and is supported by Altera. Its main drawback is that it does not program
the latest devices. The material in this text does not attempt to teach a particular hardware platform or the details of using a software development system. New revisions of software tools appear so frequently that a textbook
cannot remain current if it tries to describe all of the details. We have tried
to show what this tool can do, rather than train the reader how to use it. However, tutorials have been included on the accompanying CD-ROM that make
it easy to learn either software package. The AHDL and VHDL examples are
compatible with either Quartus or MAX
PLUS systems. The timing simulations were developed using MAXPLUS but can also be done with Quartus.
Many laboratory hardware options are available to users of this book. A
number of CPLD and FPGA development boards are available for students
to use in the laboratory. There are several earlier generation boards similar
to Altera’s UP2 that contain MAX7000 family CPLDs. A more recent example
of an available board is the UP3 board from Altera’s university program (see
Figure P-l), which contains a larger FPGA from the Cyclone family.
</p>
</body>
</html>