<html>
<title>
BANGLADESHI INDIGENOUS PEOPLES  
</title>
<body style="margin:0px 0px 0px 0px">
<table border="0" width="1500" height="795">

<tr>
<td colspan="3" width="1500" height="275" background="received_1397422473979989.jpeg">
<marquee width="1500" height="275" scrollamount="15">
<img src="DSC_0180.JPG" width="300" height="275">
<img src="IMG_8491.jpg" width="300" height="275">
<img src="DSC_0420.JPG" width="300" height="275">
<img src="IMG_8512 (1).jpg" width="300" height="275">
<img src="IMG_1502.JPG" width="300" height="275">
</marquee>
</td>
</tr>

<tr>
<td colspan="3" width="1500" height="45" style="font-size:25px;background-color:red">
<b>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp HOME &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="C:\Users\CSE IDPC\Desktop\layout\piccc.html">IMAGE </a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="C:\Users\CSE IDPC\Desktop\layout\video.html">VIDEO</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="C:\Users\CSE IDPC\Desktop\layout\Application.html">APPLICATION</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="mailto:sukhi.ketharin99@gmail.com?subject=feedback&cc=ketharinn@gmail.com">FEEDBACK</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
</b>
</td>
</tr>

<tr>
<td width="350" style="background-color:red;">
<p style="font-size:18px"><a href="C:\Users\CSE IDPC\Desktop\layout\googlemap.html" target="blank">Visit in Google Map</a></p>
<p style="font-size:30px"><strong>WHAT YOU WANT TO KNOW ABOUT US?</strong></p>
<p style="font-size:21px"><img src="1200px-White_check_mark_in_dark_green_rounded_square.svg.png" width="20" height="20">&nbsp&nbspHistory.</p>
<p style="font-size:21px"><img src="1200px-White_check_mark_in_dark_green_rounded_square.svg.png" width="20" height="20">&nbsp&nbspLanguage.</p>
<p style="font-size:21px"><img src="1200px-White_check_mark_in_dark_green_rounded_square.svg.png" width="20" height="20">&nbsp&nbspCultural Program.</p>
<p style="font-size:21px"><img src="1200px-White_check_mark_in_dark_green_rounded_square.svg.png" width="20" height="20">&nbsp&nbspTraditional Food.</p>
<p style="font-size:21px"><img src="1200px-White_check_mark_in_dark_green_rounded_square.svg.png" width="20" height="20">&nbsp&nbspTraditional Dress.</p>
</td>

<td width="300">
<table width="300" border="0">
<tr style="font-size:30px"><th >Tribe</th><th>Population</th></tr>
<tr style="font-size:21px"><td style="text-align:center">Chakma</td><td style="text-align:center">550,000</td></tr>
<tr style="font-size:21px"><td style="text-align:center">Marma</td><td style="text-align:center">210,000</td></tr>
<tr style="font-size:21px"><td style="text-align:center">Garo</td><td style="text-align:center">127,000</td></tr>
<tr style="font-size:21px"><td style="text-align:center">Tanchangya</td><td style="text-align:center">31,164</td></tr>
</table>
<p style="text-align:center"><img src="indigenous-peoples-of-the-americas-logo-center-of-family-love-photography-png-favpng-KCkRMmi9Dkpz1tP4wxJLxqUUJ.jpg" width="170" height="170"></p>
</td>

<td width="850" background="DSC_0198.JPG">
<p style="font-size:53px;color:white;text-align:center"><b>Enter your mail</b></p>
<p style="font-size:22px;color:white;text-align:center">WELCOME TO BANGLADESHI INDIGENOUS PEOPLES PAGE</P>
<input type="text" style="margin-left:250px;border-color:red" size="50px" placeholder="abc@gmail.com">
<P style="font-size:25px;color:white;text-align:center">If you want to contact with us login first</p>
<input type="submit" style="margin-left:400px" value="Continue">
</td>

</tr>
</table>
</body>
</html>