<html>
<title>
VIDEO 
</title>
<body>
</br>
<object data="Nil-Doriya-or-Bohubrihi-the-Band-or-Cover-song-360p.mp4" style="margin-left:20px;height:315px;width:500px;border-radius:20px 20px;
box-shadow:8px 8px 10px 10px blue" controls>
<param name="controles" value="true">
</object></br>
<object data="Textbook - Digital systems principles and applications (10ed, Tocci).pdf" style="margin-left:20px;height:500px;width:800px;border-radius:20px 20px;
box-shadow:8px 8px 10px 10px blue">
</object>
</body>
</html>