<html>
<title>
VIDEO 
</title>
<body>
<audio controls autoplay loop muted>
<source src="Christina Perri - A Thousand Years _Ugblizz Music.mp3" type="audio/mpeg">
</audio>
<iframe width="350" height="315" src="https://www.youtube.com/embed/S0OZPbdFdXI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
<iframe width="350" height="315" src="https://www.youtube.com/embed/bfS0xYjqS84" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
<video src="17233487_771123516373386_541320953385189376_n.mp4" height="315" width="500" controls poster="ph5.jpg" autoplay loop >
<embed src="17233487_771123516373386_541320953385189376_n.mp4" height="315" width="500" controls poster="ph5.jpg" autoplay loop>
</embed>
</body>
</html>