.main{
width:100%;
height:700Px;
border:3px solid rgba(0,40,255,1);

}
.head{
width:100%;
height:100Px;
background-color:pink;
border:1px dashed black;

}
.head1{width:25%;
height:100px;
background-image:linear-gradient(to right,red,yellow);
}
.head2{width:35%;
height:30px;
background-image:linear-gradient(-90deg,red,yellow);
float:right;
margin-top:70px;
}
.body{width:100%;
height:500Px;
background-color:silver;
}
.body1{width:30%;
height:500Px;
background-color:violet;
}
.body2{width:70%;
height:250Px;
float:right;
}

.body3{width:70%;
height:250Px;
background-image:linear-gradient(to right,red,yellow,indigo);
float:right;
}
.foot{
width:100%;
height:100px;
background-color:rgb(50,50,0);
}
.b1{
width:50%;
height:250px;
background-color:green;
}
.b2{
width:50%;
height:250px;
background-color:brown;
float:right;
}
.sss{text-size:30px;
color:white;}